@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 17% 8%; /* #1 Tomato */
    --foreground: 10 86% 89%; /* #12 Tomato */
    --card: 5 48% 15%; /* #3 Tomato */
    --card-foreground: 0 0% 3.9%; /* BLACK */
    --popover: 0 0% 100%; /* WHITE */
    --popover-foreground: 0 0% 3.9%; /* BLACK */
    --primary: 350 100% 91%; /* CRIMSON 11.5 */
    --primary-foreground: 0 0% 98%;
    --secondary: 348 75% 59%; /* CRIMSON 10 */
    --secondary-foreground: 0 0% 100%; /* WHITE */
    --muted: 0 0% 96.1%; /* WHITE */
    --muted-foreground: 0 0% 63.9%; /* GRAY */
    --accent: 9 100% 97%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 9 49% 35%;
    --input: 9 49% 35%;
    --ring: 9 49% 35%;
    --radius: 0.5rem;
    --first-gradient: 10 78% 54%; /* #9 Tomato */
    --second-gradient: 322 65% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
