@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* yellow theme styles go here */
    --background: 36 29% 7%; /* #1 AMBER */
    --foreground: 41 100% 85%; /* #12 AMBER */
    --card: 36 71% 11%; /* #3 AMBER */
    --card-foreground: 111 13% 97%;
    --popover: 111 42% 4%;
    --popover-foreground: 111 13% 97%;
    --primary: 53 90% 62%; /* #11 LIME */
    --primary-foreground: 0 0% 100%; /* WHITE */
    --secondary: 46 100% 54%; /* #11 AMBER */
    --secondary-foreground: 0 0% 9%; /* BLACK */
    --accent: 41 100% 97%; /* #13 AMBER */
    --accent-foreground: 0 0% 9%; /* BLACK */
    --destructive: 50 100% 52%; /* #10 AMBER */
    --destructive-foreground: 0 0% 9%; /* BLACK */
    --muted: 111 25% 10%;
    --muted-foreground: 111 14% 69%;
    --border: 39 90% 19%; /* #6 AMBER */
    --input: 37 64% 27%; /* #7 AMBER */
    --ring: 36 60% 35%; /* #8 AMBER */
    --radius: 0.5rem;
    --first-gradient: 46 100% 54%; /* #11 AMBER */
    --second-gradient: 80 70% 66%; /* #11 LIME */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply  bg-background text-foreground;
  }
}
